

a{
  padding: 10px;
}

#featured-property~p{
  width: 800px;
  text-align: center;
  padding: 50px;
  
}

#details~div{

  
  flex-direction: row;
  float: inherit;
}
div{
  background-color: aqua;
  
  width: 25%;
  float: left;

}
body{
  text-align: center;
}